@import url('./githubCss.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --black-transparent: rgba(0, 0, 0, 0.5);
    --small-circle-1: gravitate 4s infinite linear;
    --small-circle-1-mobile: gravitateMobile 4s infinite linear;
    --ping-text: pingText 5s infinite linear;
    --color-shift: colorShift 5s infinite;
}

@keyframes gravitate {
    from {
        transform: rotate(-20deg) translateX(100vw);
    }
    to {
        transform: rotate(90deg) translateX(100vw);
    }
}

@keyframes gravitateMobile {
    from {
        transform: rotate(0deg) translateX(100vw);
    }
    to {
        transform: rotate(120deg) translateX(100vw);
    }
}

@keyframes gravitate2 {
    from {
        transform: rotate(270deg) translateX(100vw);
    }
    to {
        transform: rotate(90deg) translateX(100vw);
    }
}

@keyframes gravitate3 {
    from {
        transform: rotate(-270deg) translateX(100vw);
    }
    to {
        transform: rotate(0deg) translateX(100vw);
    }
}



@keyframes gradient-animation {
    0% {
        background-position: 0% 50%; /* Start position of the gradient */
    }
    50% {
        background-position: 100% 50%; /* End position of the gradient */
    }
    100% {
        background-position: 0% 50%; /* Start position of the gradient */
    }
}

@layer components {
    .gradient-text {
        font-weight: bold;
        background: linear-gradient(270deg, #ff0066, #ffcc00, #00ffcc, #6600ff, #ff0066);
        background-size: 400%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradient-animation 5s ease-in infinite;
    }
}

@keyframes pingText {
    0% {
        transform: scale(1);
        color: #ff0066;
        opacity: 1;
    } 19%
          {
          transform: scale(1.1);
          color: #ff0066;
          opacity: 0;
      }
    20% {
        transform: scale(1);
        color: #ffcc00;
        opacity: 1;
    }
    39% {
        transform: scale(1.1);
        color: #ffcc00;
        opacity: 0;
    } 40% {
        transform: scale(1);
        color: #00ffcc;
        opacity: 1;
    } 59% {
        transform: scale(1.1);
        color: #00ffcc;
        opacity: 0;
    } 60% {
        transform: scale(1);
        color: #6600ff;
        opacity: 1;
    } 79% {
        transform: scale(1.1);
        color: #6600ff;
        opacity: 0;
    } 80% {
        transform: scale(1);
        color: #ff0066;
        opacity: 1;
    } 99% {
        transform: scale(1.1);
        color: #ff0066;
        opacity: 0;
    }  100% {
        transform: scale(1);
        color: #33ff00;
        opacity: 1;
    }
}



@keyframes colorShift {
    0% {
        color: #ff0066;
    }
    19% {
        color: #ff0066;
    } 20% {
          color: #ffcc00;
      } 39% {
            color: #ffcc00;
        } 40% {
              color: #00ffcc;
          } 59% {
                color: #00ffcc;
            } 60% {
                  color: #6600ff;
              } 79% {
                    color: #6600ff;
                } 80% {
                      color: #ff0066;
                  } 100% {
                        color: #ff0066;
                    }

}

@layer base {

  :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }
  .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}



@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}

.dialogMarkDownContent img{
    width: 15vw;
    border-radius: 0.5rem;
}

